{{#each this}}
<div class="swiper-slide">
    <div class="weather__block_current-time">
        <div class="weather__title-block">
            <div class="weather__date-block">
                <p class="weather__time">{{this.dt}}</p>
            </div>
        </div>
        <div class="weather__text-container">
            <p class="weather__temp">{{this.temp}}&#176;</p>
            <p class="weather__description">{{this.weatherDescription}}</p>
        </div>
        <img src={{this.weatherDescriptionIcon}} alt="weather image" class="weather__image" width="200">
    </div>
</div>

{{/each}}