// colors
$white-color: #ffffff;
$black-color: #000000;
$input-border-color: #008080;

//typography
$main-font: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
$second-font: 'Marck Script', Tahoma, Geneva, Verdana, sans-serif;
